#image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem;
  background-color: black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  height: 500px;
}

#image-container img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  object-fit: cover;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.slideOut{
    animation: slideOut 1s ease;
}

.slideIn{
    animation: slideIn 1s ease;
}
.hidden{
    display: none;
}

@keyframes slideIn {
  0% {
    display: none;
    translate: 100vw 0;
  }
  100% {
    translate: 0 0;
    display: block;
  }
}
@keyframes slideOut {
  0% {
    translate: 0 0;
    display: block;
  }
  100% {
    display: none;
    translate: -100vw 0;
  }
}

/* #image-container button {

} */